In [2]:




DROP TABLE if EXISTS #Szervezet
CREATE table #Szervezet 
(
    Szint HIERARCHYID,
    Beosztas NVARCHAR(100)

)
insert into #Szervezet VALUES ('/1/','vezérigazgató')
insert into #Szervezet VALUES ('/1/1/','marketing igazgató')
insert into #Szervezet VALUES ('/1/2/','pénzügyi igazgató')
insert into #Szervezet VALUES ('/1/3/','ügyvezető igazgató')
insert into #Szervezet VALUES ('/1/1/1/','marketing osztály')
insert into #Szervezet VALUES ('/1/2/1/','pénzügyi osztály')
insert into #Szervezet VALUES ('/1/3/1/','termelési igazgató')


select cast(szint as nvarchar(100)),
        Beosztas
from #Szervezet

(No column name),Beosztas
/1/,vezérigazgató
/1/1/,marketing igazgató
/1/2/,pénzügyi igazgató
/1/3/,ügyvezeto igazgató
/1/1/1/,marketing osztály
/1/2/1/,pénzügyi osztály

: Msg 6522, Level 16, State 2, Line 18
A .NET Framework error occurred during execution of user-defined routine or aggregate "hierarchyid":
Microsoft.SqlServer.Types.HierarchyIdException: 24001: SqlHierarchyId.Parse failed because the input string '/1/3/1' is not a valid string representation of a SqlHierarchyId node.
Microsoft.SqlServer.Types.HierarchyIdException:
   at Microsoft.SqlServer.Types.SqlHierarchyId.Parse(SqlString input)
.

In [4]:
-- Milyen messze van Kecskemét és Székesfehérvár egymástól?
DECLARE @k GEOGRAPHY
set @k = GEOGRAPHY::STGeomFromText('POINT(46.90618 19.69128)',4236)

DECLARE @s GEOGRAPHY
set @s = GEOGRAPHY::STGeomFromText('POINT(47.18995 18.41034)',4236)




select @k.STDistance(@s)

(No column name)
144904.95662108064